.#{$prefix}-content {
  padding: $spacing-lg $spacing-md;

  &__intro {
    padding-bottom: $spacing-sm / 2;
  }

  * + * {
    margin-top: $spacing-sm;
  }

  &__title {
    line-height: 1.2;
  }

  &__date {
    display: inline-block;
    margin-top: $spacing-sm / 2;
  }
}