---
layout: layouts/home.njk
permalink: 404.html
eleventyExcludeFromCollections: true
---

<h1>Page not found</h1>

<p>The page you're looking for couldn't be found.</p>

<p>Check out the <a href="{{ '/blog/' | url }}">blog</a>, or head back <a href="{{ '/' | url }}">home</a> to start again.</p>
