---
layout: layouts/home.njk
---

<p>I'm a developer at <a href="https://indiana.edu/">Indiana University</a>. Check out <a href="https://github.com/zttodd/">GitHub</a> for other things I've been working on.</p>

<h2>Latest posts</h2>

{% include "partials/postslist.njk" %}