---
layout: layouts/base.njk

pagination:
  data: collections.post
  size: 10
  reverse: true
  alias: posts
---

<p>I'm a developer at <a href="https://indiana.edu/">Indiana University</a>.</p>

<p>Check out <a href="https://github.com/zttodd/">GitHub</a> for some other things I've been working on.</p>

{% include "partials/postslist.njk" %}