<header>
    <h1><a href="{{ '/' | url }}">{{ metadata.title }}</a></h1>
    <nav>
        <ul>
            {%- for nav in collections.nav | reverse -%}
            <li><a href="{{ nav.url | url }}">{{ nav.data.navtitle }}</a></li>
            {%- endfor -%}
        </ul>
    </nav>
</header>