<header>
    <h1 class="site-title"><a href="{{ '/' | url }}">{{ metadata.title }}</a></h1>
    <nav>
        <ul>
            <li><a href="{{ '/blog/' | url }}">Blog</a></li>
            <li><a href="{{ '/about/' | url }}">About</a></li>
        </ul>
    </nav>
</header>