main {
  padding: 20px;
}

.content {
  background: darken($purple, 25%);
  border-radius: 4px;
  color: $white;
  margin-bottom: 24px;
  padding: 16px;

  a {
    color: $green;

    &:focus {
      outline-color: $green;
    }
  }

  *:last-of-type {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 768px) {
  main,
  .section {
    margin: 0 auto 24px auto;
  }

  main {
    max-width: 1000px;
    width: 75vw;
  }

  .section {
    max-width: 580px;
  }
}
