body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  color: darken($red, 10%);
}

a:focus {
  outline: 2px solid $purple;
}

section + section {
  margin-top: 24px;
}

.button {
  // background: $gray;
  border: 1px solid $gray;
  border-radius: 4px;
  color: $black;
  height: fit-content;
  padding: 5px 12px;
  text-decoration: none;
}
