body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  color: darken($red, 10%);
}

a:focus {
  outline: 2px solid $purple;
}

section + section {
  margin-top: 24px;
}

.button {
  background: $gray;
  border-radius: 16px;
  color: $black;
  padding: 8px 16px;
  text-decoration: none;
}
