---
layout: layouts/home.njk
title: About Me
tags:
  - nav
navtitle: About
templateClass: tmpl-post
---

<h1>{{ title }}</h1>

<p>I'm a front-end web developer at <a href="https://indiana.edu">Indiana University</a>.</p>
