footer {
  margin: 20px;

  .section {
    border-top: 1px dashed $gray;
    justify-content: space-between;
  }

  ul,
  p {
    font-size: 14px;
    color: darken($gray, 40%);
    margin-bottom: 14px;
    margin-top: 14px;
  }

  ul {
    display: flex;
    list-style-type: none;
    padding: 0;
  }

  li {
    margin: 0 8px;

    &:first-of-type {
      margin-left: 0;
    }
  }
}

@media only screen and (min-width: 480px) {
  footer {
    .section {
      display: flex;
    }

    ul li {
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}
