body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  color: darken($red, 10%);
}

a:focus {
  outline: 2px solid $purple;
}

code {
  background: $gray;
  padding: 2px;
}

section + section {
  margin-top: 24px;
}

.button {
  border: 1px solid $gray;
  border-radius: 4px;
  color: $black;
  height: fit-content;
  padding: 5px 12px;
  text-decoration: none;
}

li {
  line-height: 20px;
  padding-bottom: 8px;
}

// Definiton lists
.inline,
.block {
  dd {
    line-height: 22px;
  }

  dt {
    font-weight: bold;
  }
}

.inline {
  dd {
    margin-left: 0;
  }

  dd + dt {
    margin-top: 16px;
  }
}

.block dd {
  margin-left: 0;
}

@media only screen and (min-width: 640px) {
  .inline {
    dd {
      display: inline;
      margin-left: 0;
      padding-left: 8px;
      padding-right: 8px;
    }

    dt + dd {
      border-left: none;
      padding-left: 0;
    }
  }
}
