<header class="z-header">
  <div class="z-container z-container--sm z-header__flex-container">
    <div class="z-header__title">
      <h1>
        <a href="/" class="z-header__title-text">{{ global.site_title }}</a>
      </h1>
    </div>

    {% include "./navigation.njk" %}
  </div>
</header>