<nav class="z-nav">
  <ul class="z-nav__list">
    <li class="z-nav__list-item">
      <a href="/blog" class="z-nav__list-link">Blog</a>
    </li>
    <li class="z-nav__list-item">
      <a href="https://github.com/zttodd" class="z-nav__list-link">GitHub</a>
    </li>
  </ul>
</nav>