<div class="z-postslist">
  {% for post in collections.post | reverse %}
    <article class="z-postslist__post">
      <h3 class="z-postslist__title"><a href="{{ post.url | url }}">{{ post.data.title }}</a></h3>
      <small class="z-postslist__date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</small>
      <p class="z-postslist__description">{{ post.data.description }}</p>
    </article>
  {% endfor %}
</div>
