---
layout: default
body_class: home

intro_heading: Hello!
intro_content: I'm a front-end web developer at <a href="https://indiana.edu">Indiana University</a>.
---

<div class="section content">
  <h2>{{ layout.intro_heading }}</h2>
  <p>{{ layout.intro_content }}</p>
</div>

<div class="section posts-feed">
  <h2>Recent Posts</h2>
  {% for post in site.posts limit:5 %}
  <article>
    <p class="title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </p>
    <p class="date">
      {{ post.date | date: "%B %d, %Y" }}
    </p>
  </article>
  {% endfor %}

  <p><a href="/blog/" class="button">View more posts</a></p>
</div>
