<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title><%= siteTitle %></title>
        <link rel="stylesheet" href="css/site.css">
    </head>
    <body>
        <h1><%= siteTitle %></h1>
        <p>
            <span>Front-end Web Developer</span> 
            <span>with <a href="https://communications.iu.edu/">IU Communications</a></span> 
            <span>at <a href="https://www.indiana.edu/">Indiana University</a>.</span></p>
            <a href="//github.com/zttodd"><img src="images/GitHub-Mark-32px.png" alt="Link to Zachary Todd's GitHub account." title="GitHub Logo"></a>
        <script src="js/site.js"></script>
    </body>
</html>