<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= siteTitle %></title>
    <meta name="description" content="The website of Zachary Todd." />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="stylesheet" href="css/site.css" />
  </head>
  <body>
    <h1 class="site-title"><%= siteTitle %></h1>
    <p class="about">
      <span>Front-end Web Developer</span>
      <span
        >with
        <a href="https://communications.iu.edu/">IU Communications</a></span
      >
      <span>at <a href="https://www.indiana.edu/">Indiana University</a>.</span>
    </p>
    <a href="//github.com/zttodd" class="github">
      <img
        src="images/GitHub-Mark-32px.png"
        alt="Link to Zachary Todd's GitHub account."
        title="GitHub Logo"
      />
    </a>
    <script src="js/site.js"></script>
  </body>
</html>
