body {
  transition: background 0.25s ease-in-out;
}

.modes {
  bottom: 0;
  display: flex;
  justify-content: flex-start;
  padding: 1rem;
  position: absolute;
  left: 0;
  width: 40vw;

  button {
    background: transparent;
    border: none;
    font-size: calculateRem(16px);
    margin-right: 2rem;

    &:hover {
      cursor: pointer;
    }
  }
}

body.dark {
  background: #232323;
  color: #fff;

  a {
    color: lighten($linkColor, 25%);
  }

  button {
    color: #fff;
  }

  a:focus,
  button:focus {
    outline: 2px solid lighten($linkColor, 60%);
  }

  .github {
    fill: white;
  }
}

.dark .dark,
.light .light {
  border-bottom: 2px solid;
}

.dark .dark:focus {
  border-bottom: 0;
}

@media only screen and (min-width: 768px) {
  .modes {
    bottom: auto;
    justify-content: flex-end;
    left: auto;
    padding: 1.5rem 1rem;
    right: 0;
    top: 0;
    width: 15vw;

    button {
      font-size: calculateRem(12px);
    }
  }
}
