<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% if title %}{{ title }} | {{ global.site_title }}{% else %}{{ global.site_title }}{% endif %}</title>
  <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
  {% if noindex %}<meta name="robots" content="noindex">{% endif %}
  <link rel="stylesheet" href="/css/site.css?{{ global.timestamp }}">
</head>
<body>
  {% include "../partials/header.njk" %}
  {% include "../partials/content.njk" %}
</body>
</html>